// подключаем шрифты

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


// Ограничивающий контейнер
.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

// переменные

$font: "Montserrat", sans-serif;
$black: #373737;
$title: #323232;
$gray: #606060;
$purple: #9380ED;
$accent: #8266FF;

//кнопки

.burger-btn {
    display: block;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    position: relative;
    svg {
        pointer-events: none;
    }
}

.main-btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    background-color: $black;
    padding: 18px 30px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    text-align: left;
    position: relative;
    cursor: pointer;
    &:hover {
        &::before {
            background-color: #B4A3FF;
        }
    }
    &:active {
        &::before {
            background-color: #BBB;
        }
    }
    &::before {
        content: '';
        position: absolute;
        right: 5px;
        top: calc(50% - 20px);
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        z-index: 2;
        background-size: cover;
        transition: .35s ease;
        background-repeat: no-repeat;
    }
    &::after {
        content: '';
        background-image: url(assets/imgs/button-arrow.svg);
        width: 6px;
        height: 11px;
        position: absolute;
        right: 21px;
        top: 19px;
        z-index: 10;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

body {
    font-family: $font;
}


.section__title {
    margin-bottom: 80px;
    .section-title {
        font-family: $font;
        display: block;
        margin: 0;
        font-size: 52px;
        font-weight: 600;
        color: $title;
        margin-bottom: 30px;
    }    
    p {
        display: block;
        margin: 0;
        font-size: 26px;
        font-weight: 500;
        color: #606060;
    }

    @media(max-width:920px) {
        margin-bottom: 40px;
       .section-title {
        font-size: 30px;
        margin-bottom: 15px;
       }
       p {
        font-size: 20px;
       }

    }
}


label.input-main {
    position: relative;
}
label.input-main input {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1.5px solid #373737;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #373737;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
  }
  
label.input-main input:focus {
    outline: 1px solid #8266FF;
  }
  
label.input-main input:focus + span {
    color: #8266FF;
  }
  
label.input-main span {
    position: absolute;
    z-index: 100;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
    left: 20px;
    top: 15px;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
    width: max-content;
  }
  
label.input-main span._top {
    top: -12px;
  }
  
label.input-main:hover input {
    border-color: #AD7AFF;
  }
  
label.input-main:hover span {
    color: #AD7AFF;
  }